@font-face {
  font-family: Raleway;
  src: url("materials/fonts/Raleway-VariableFont_wght.ttf"),
       url("materials/fonts/Raleway-Italic-VariableFont_wght.ttf");
  font-variation-settings: 'wght' 300;
}
@font-face {
  font-family: Roboto;
  src: url(materials/fonts/Roboto-Light.ttf);
  font-weight: light;
}

@keyframes circle-header {
  0% {transform: scale(0); opacity: 1;}
  25% {transform: scale(0.25); opacity: 1;}
  100% {transform: scale(1); opacity: 0;}
}

@keyframes circle-avatar-f {
  0% {transform: translate(-50%, -50%) scale(1); opacity: 1;}
  25% {transform: translate(-50%, -50%) scale(1.1); opacity: 1;}
  100% {transform: translate(-50%, -50%) scale(1.2); opacity: 0;}
}

@keyframes circle-avatar-s {
  0% {transform: translate(-50%, -50%) scale(1); opacity: 1;}
  25% {transform: translate(-50%, -50%) scale(1.1); opacity: 1;}
  100% {transform: translate(-50%, -50%) scale(1.2); opacity: 0;}
}

@keyframes loading {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

html {
  scrollbar-width: thin;
  scrollbar-color: #ffae82 var(--col3);
  scroll-behavior: smooth;
  --col1: #ef2875; --col1-dark: #b40f4f;
  --col2: #ff8645; --col2-dark: #c35d26;
  --col3: #3c212d;
}

html::-webkit-scrollbar {
  background: var(--col3);
  width: 8px;
}
html::-webkit-scrollbar-thumb {
  background: #ffae82;
  border: 1px solid var(--col3)
}

a {
  text-decoration: none;
  color: var(--col1);
}
a:active {color: var(--col2);}

body {
  overflow: auto;
  font: 20px Raleway;
  color: rgb(18,18,18);
  margin: 0;
}

.flexed {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {outline: none;}

header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, var(--col1), var(--col2));
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
  visibility: hidden;
}
.loaded header {visibility: visible;}
.circles .circle {
  position: absolute;
  border-radius: 50%;
  width: 400px; height: 400px;
  border: 24px solid rgba(255,255,255,0.25);
}
header .circles .circle {
  animation: circle-header 4s linear infinite;
  opacity: 0;
}

header .circles .circle.f {
  width: 600px; height: 600px;
  top: -300px;
  left: 0px;
}
header .circles .circle.s {
  top: 22%;
  right: -200px;
}
header .circles .circle.i {
  animation-delay: 2s;
}

header .text {
  flex-direction: column;
  font-size: 1.66em;
  z-index: 1;
}
header .text .title {
  font: 3.5em Raleway;
  cursor: pointer;
}
header .text .title img {
  width: 1.55em;
}
header .text .description {
  margin-top: 20px;
  font-family: Roboto;
  color: black;
  padding: 6px 24px;
  border-radius: 666px;
  background: white;
}

header .hdr-bg {
  position: absolute;
  top: 40%; left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; height: 80%;
  background: 50% 50% / contain no-repeat url("materials/images/Shape1.png");
  opacity: 0.25;
}

#navbar {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 52px;
  justify-content: space-between;
  background: white;
  box-shadow: 0px 2px 12px -6px rgba(0,0,0,0.66);
  transform: translateY(-100%);
  transition: transform 0.33s;
  pointer-events: none;
  z-index: 99;
}
#navbar.visible {
  transform: none;
  pointer-events: all;
}
#navbar .links {
  height: 100%;
  margin: 0px 20px;
}
#navbar .links a {
  display: flex;
  align-items: center;
  padding: 0px 18px;
  height: 100%;
  position: relative;
  transition: color 0.2s;
  font-size: 18px;
}
#navbar .links a:after {
  content: "";
  position: absolute;
  bottom: 0; left: 0;
  width: 100%; min-height: 0px;
  transition: min-height 0.2s, transform 0.2s;
  transform: scaleX(0.66);
  background: linear-gradient(90deg, var(--col1), var(--col2));
}
#navbar .links a:hover, #navbar .links a:focus {
  color: var(--col1-dark);
}
#navbar .links a:hover:after, #navbar .links a:focus:after {
  min-height: 3px;
  transform: scaleX(1);
}
#navbar .links .title {
  font-weight: 900;
  font-size: 1.2em;
  margin-right: 12px;
  cursor: pointer;
}
#navbar .links .title svg {
  width: 2.2em; height: 2.2em;
}

section#main {
  z-index: 0;
  width: 100%;
  position: relative;
  flex-direction: column;
  justify-content: start;
  visibility: hidden;
}
.loaded section#main {visibility: visible;}

#main .rounded-border {
  content: "";
  position: absolute;
  top: -74px; left: 0;
  width: 100%; height: 300px;
  overflow: hidden;
}
#main .rounded-border div {
  background: white;
  min-width: 150%; height: 100%;
  border-radius: 50%;
  transform: translateY(100%);
  transition: transform 0.5s;
  transition-delay: 1.5s;
}
.loaded #main .rounded-border div {
  transform: none;
}

#main #aboutMe {
  width: calc(100% - 120px);
  padding: 30px 60px;
  margin: 80px 0px;
  z-index: 1;
  align-items: start;
}
#main #aboutMe .about-me, #main #aboutMe .social-links {
  width: 50%;
  flex-direction: column;
}
#main #aboutMe .about-me {
  align-items: start;
}
#main #aboutMe .circles {
  position: relative;
  width: 210px; height: 210px;
  min-width: 210px;
  transition: transform 0.33s;
}
#main #aboutMe .image {
  position: relative;
  width: 100%; height: 100%;
  border-radius: 50%;
  z-index: 1;
}
#main #aboutMe #avatar .image {
  background: 50% 50% / 100% url(materials/images/avatar.jpg);
}
#main #aboutMe .circles .circle {
  border: none;
  background: linear-gradient(-45deg, var(--col1), var(--col2));
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 0;
}
#main #aboutMe .circles .circle.f {
  animation: circle-avatar-f 3s linear infinite;
}
#main #aboutMe .circles .circle.s {
  animation: circle-avatar-s 3s linear infinite;
  animation-delay: 1.5s;
}
#main #aboutMe .title span {
  margin: 44px;
  color: var(--col1);
  font: 900 2.2em Raleway;
}
#main #aboutMe .about-me .description {
  margin-top: 50px;
  color: var(--col1-dark);
  font-size: 1.2em;
}

#main #aboutMe .social-links {
  justify-content: start;
}
#main #aboutMe .social-links .title {
  height: 210px;
}
#main #aboutMe #social .image {
  background: linear-gradient(-45deg, var(--col1), var(--col2));
}
#main #aboutMe .social-links .links {
  width: 100%;
  margin-top: 50px;
  flex-wrap: wrap;
}
#main #aboutMe .social-links .links a {
  margin: 20px;
  position: relative;
  height: 128px;
  color: var(--col2);
  transition: color 0.25s;
}
#main #aboutMe .social-links .links a:hover, #main #aboutMe .social-links .links a:focus {
  color: var(--col1)
}
#main #aboutMe .social-links .links svg.outer {
  position: relative;
  height: 100%;
  z-index: 1;
}
#main #aboutMe .social-links .links svg.inner {
  position: absolute;
  width: 64px;
  height: 64px;
  z-index: 2;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

#main .IDE-container {
  width: 100%;
  height: 250vh;
  position: relative;
}
#main .IDE {
  width: 100%;
  height: 100vh;
  background: var(--col3);
  overflow: hidden;
  position: sticky;
  top: 0;
}
body.overflow-start #main .IDE-container {
  null;
}
#main .IDE-container .text {
  position: absolute;
}
#main .IDE-container #IDEBG {
  top: 0; right: 0;
  height: 100%; width: 100%;
  background: 0% 50% / cover no-repeat url("materials/images/IDE.jpg");
}
#main .IDE-container .text {
  top: 50%;left: 30px;
  width: 35%;
  transform: translateY(-50%);
  color: white;
  font: 1.7em Roboto;
}
#main .IDE-container #IDEoverflow {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: linear-gradient(45deg, var(--col1), var(--col2));
  opacity: 0;
}
#main .IDE-container #IDEoverflow h3 {
  opacity: 0;
  transition: opacity 0.3s;
}
#main .IDE-container #IDEoverflow span {
  position: absolute;
  color: white;
  font-size: 2em;
  opacity: 0;
  transition: opacity 0.2s;
}
#main .IDE-container #IDEoverflow svg {
  width: 60px;
}
#main .IDE-container #IDEoverflow.visible h3 {opacity: 1; transition-delay: 0.3s;}
#main .IDE-container #IDEoverflow.visible span {opacity: 0.5;}

#main .svg-container {
  justify-content: space-around;
  width: 100%;
  align-items: start;
}
#main .svg-container .android, #main .svg-container .web {
  width: 50%;
  padding: 80px 0px;
  position: relative;
}
#main .svg-container .title {
  font: 1.7em Roboto;
  opacity: 0.42;
  transition: 0.33s all;
  text-transform: uppercase;
  z-index: 1;
}
#main .svg-container img {opacity: 0.42; transition: 0.33s all;}
#main .svg-container .android {justify-content: flex-start; overflow: hidden;}
#main .svg-container .web {justify-content: flex-end; overflow: hidden;}
#main .svg-container .android img {height: 300px;}
#main .svg-container .android .title, #main .svg-container .web .title {margin-left: 0px;}
#main .svg-container .android:before {
  opacity: 0;
  background: 0% 0% / 50% no-repeat radial-gradient(at left, var(--col1), transparent 50%);
  transition: opacity 0.33s;
}
#main .svg-container .web:before {
  opacity: 0;
  background: 100% 0% / 50% no-repeat radial-gradient(at right, var(--col2), transparent 50%);
  transition: opacity 0.33s;
}
#main .svg-container .web img {height: 300px;}
#main .svg-container .android:hover:before, #main .svg-container .web:hover:before {opacity: 0.33;}
#main .svg-container .android:hover img, #main .svg-container .web:hover img {transform: scale(1.1); opacity: 1;}
#main .svg-container .android:hover .title {
  margin-left: 40px;
  opacity: 1;
}
#main .svg-container .web:hover .title {
  margin-right: 40px;
  opacity: 1;
}
#main .svg-container .example-button {
  position: absolute;
  padding: 12px 28px;
  font: 1.2em Roboto;
  border-radius: 666px;
  top: 58%;
  opacity: 0;
  transform: scale(0.8);
  background: white;
  box-shadow: 3px 3px 12px -8px black;
  cursor: pointer;
  transition: all 0.33s ease;
}
#main .svg-container .android:hover .example-button, #main .svg-container .web:hover .example-button {
  transform: none;
  opacity: 1;
}
#main .svg-container .android .example-button {right: 30%; color: var(--col1-dark);}
#main .svg-container .web .example-button {left: 30%; color: var(--col2-dark);}

#main #contacts {
  margin: 60px 15%;
}
#main #contacts .contacts {
  background: white;
  position: relative;
  background: linear-gradient(-45deg, var(--col1), var(--col2));
  border-radius: 56px;
}

#main #contacts .title {
  position: absolute;
  bottom: 100%; left: 0;
  width: 100%;
  text-align: center;
  font: 900 2.2em Raleway;
}

#main #contacts form {
  padding: 36px 24px;
  border-radius: 52px;
  position: relative;
}

#main #contacts .input-container {
  position: relative;
  width: fit-content;
}

#main #contacts .input-container input, #main #contacts .input-container textarea {
  border: none;
  background: white;
  padding: 12px 20px;
  border-radius: 666px;
  box-shadow: 2px 2px 12px -8px black;
  outline: none;
  font: 500 18px Roboto;
  color: var(--col1-dark);
  width: 300px;
}

#main #contacts .input-container .placeholder {
  position: absolute;
  top: 50%; left: 0;
  transform: translateY(-50%);
  pointer-events: none;
  margin: 0px 20px;
  color: var(--col1-dark);
  opacity: 0.5;
  transition: all 0.2s;
}

#main #contacts .input-container input:valid + .customization .placeholder {
  transform: translateY(-250%);
  font-size: 14px;
  margin: 0px 10px;
  opacity: 1;
  color: white;
}

#main #contacts .input-container .hint {
  box-shadow: 2px 2px 12px -8px black;
  position: absolute;
  top: 50%; left: 100%;
  transform: translateY(-50%);
  margin-left: 30px;
  border-radius: 12px;
  width: 240px;
  padding: 10px;
  font-size: 0.7em;
  color: var(--col1);
  background: white;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
  z-index: 10;
}

#main #contacts .input-container .hint span {
  position: absolute;
  top: 50%; left: 0%;
  transform: translate(-100%, -50%);
  color: white;
  margin: 2px;
}

#main #contacts .input-container input:focus + .customization .hint, #main #contacts .input-container textarea:focus + .customization .hint {
  margin-left: 10px;
  opacity: 1;
  pointer-events: auto;
}

#main #contacts .separator {
  height: 36px;
}

#main #contacts .input-container textarea {
  border-radius: 14px;
  resize: none;
  height: 200px;
}

#main #contacts .input-container textarea + .customization .placeholder {
  top: 0;
  transform: translateY(36%);
}

#main #contacts .input-container textarea:valid + .customization .placeholder {
  transform: translateY(-120%);
  font-size: 14px;
  margin: 0px 10px;
  opacity: 1;
  color: white;
}

#main #contacts .btn {
  position: relative;
  width: fit-content;
  border: none;
  border-radius: 666px;
  background: white;
  color: var(--col1);
  padding: 10px 14px;
  font-size: 1em;
  margin: auto;
  margin-top: 36px;
  box-shadow: 3px 3px 12px -8px black;
  text-align: center;
}
#main #contacts .btn:focus-within, #main #contacts .btn:hover {
  background: linear-gradient(45deg, var(--col1), var(--col2));
  color: white;
}

#main #contacts .btn button {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  border: none;
  padding: 0;
}

#main #contacts .btn .loading svg {
  margin-right: 12px;
  display: none;
}
#main #contacts .btn.sending .loading svg {
  display: block;
}
#main #contacts .btn.sended {
  background: grey;
}

#main #contacts .description {
  position: relative;
  color: white;
  margin-left: 30px;
}
#main #contacts .description ul {
  list-style: none;
}
#main #contacts .description li {
  background: white;
  color: var(--col1);
  padding: 6px 14px;
  border-radius: 666px;
  width: fit-content;
  margin: 10px 0px;
  position: relative;
  cursor: pointer;
}
#main #contacts .description li.copied {
  background: rgba(200,255,210);
  box-shadow: 0px 0px 16px -4px rgba(200,255,210);
  color: darkgreen;
}

#main #contacts .description .hint {
  position: absolute;
  top: 50%; left: 100%;
  transform: translateY(-50%);
  margin-left: 8px;
  padding: 6px 10px;
  border-radius: 666px;
  color: white;
  transition: all 0.2s;
}
#main #contacts .description .hint .icon {
  width: 18px; height: 18px;
  margin: 0px 2px;
  transition: color 0.33s;
}
#main #contacts .description .hint .text {
  max-width: 0px;
  overflow: hidden;
  transition: max-width 0.33s;
  color: var(--col1);
}

@media (min-width: 800px) {
  #main #contacts .description li:hover .hint {
    background: white;
  }
    #main #contacts .description li:hover .hint .icon {
      color: var(--col1);
    }
    #main #contacts .description li:hover .hint .text {
      max-width: 150px;
    }
}

footer {
  position: relative;
  width: 100%;
  padding: 120px 0px;
  background: var(--col3);
  color: rgba(255,255,255,0.25);
  text-align: center;
  overflow: hidden;
}
footer .circles .circle {
  border: 12px solid rgba(255,255,255,0.05);
  transform: translate(-50%, -50%)
}
footer .circles .circle.f {
  top: 30%; left: 10%;
  width: 250px; height: 250px;
}
footer .circles .circle.f.ii {
  width: 110px; height: 110px;
  border-width: 6px;
}
footer .circles .circle.s {
  left: 85%;
  top: 100%;
}

#overflowContainer {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 99;
  visibility: hidden;
}
#overflowContainer.visible {
  visibility: visible;
}
#overflowContainer #darkFilter {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.36);
}
#overflowContainer .overflow {
  position: relative;
  flex-direction: column;
  padding: 30px;
  border-radius: 36px;
  background: white;
  box-shadow: 3px 3px 16px -8px black;
  transform: scale(1.16);
  transition: transform 0.33s;
}
#overflowContainer.visible .overflow {
  transform: none;
}

#overflowContainer .overflow .title {
  position: relative;
  padding: 0px 30px 3px 30px;
  font-size: 32px;
  color: var(--col1-dark);
  text-align: center;
}
#overflowContainer .overflow .title:before {
  height: 3px;
  top: 100%;
  background: linear-gradient(90deg, var(--col1), var(--col2));
}

#overflowContainer .overflow #closeOverflow {
  position: absolute;
  top: 24px; right: 24px;
  user-select: none;
}
#overflowContainer .overflow #closeOverflow:active {
  transform: scale(0.85);
}
#overflowContainer .overflow #closeOverflow img {
  width: 16px;
  opacity: 0.5;
}

#overflowContainer .overflow .webExample, #overflowContainer .overflow .androidExample {
  visibility: hidden;
}
#overflowContainer .overflow .visible {
  visibility: inherit;
}

#overflowContainer .overflow .example-container {
  align-items: start;
}

#overflowContainer .overflow .example-list {
  margin-right: 42px;
}
#overflowContainer .overflow .list {
  padding: 0;
  list-style: none;
}
#overflowContainer .overflow .list label {
  display: flex;
  width: 100%;
  margin: 5px 0px;
}
#overflowContainer .overflow .list span {
  text-align: left;
  display: inline-block;
  width: 100%;
  background: var(--col1);
  color: white;
  padding: 3px 8px;
}
#overflowContainer .overflow .list input {
  opacity: 0;
  width: 0.1px; height: 0.1px;
  margin: 0;
}
#overflowContainer .overflow .list input:checked + span {
  background: var(--col1-dark);
}

#overflowContainer .overflow .example-description .project {
  flex-direction: column;
  max-width: 542px;
  color: var(--col1-dark);
  display: none;
}
#overflowContainer .overflow .example-description .project.selected {
  display: flex;
}
#overflowContainer .overflow .example-description img {
  width: 100%;
  box-shadow: 3px 3px 14px -6px black;
}
#overflowContainer .overflow .example-description p {
  font-size: 28px;
  margin: 10px 0px;
  padding: 0;
}
#overflowContainer .overflow .example-description a {
  margin: 12px 6px 0px 6px;
  padding: 8px 16px;
  border-radius: 666px;
  box-shadow: 3px 3px 12px -8px black;
  background: white;
}
#overflowContainer .overflow .example-description a:hover {
  background: linear-gradient(45deg, var(--col1), var(--col2));
  color: white;
}

#overflowContainer #emptyExample {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  color: var(--col1);
  padding: 6px 14px;
  border-radius: 14px;
  border: 3px dashed currentColor;
}

.grad-text {
  background: linear-gradient(45deg, var(--col1) 25%, var(--col2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.fsps:before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

#loading {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: linear-gradient(180deg, var(--col1), var(--col2));
  z-index: 100;
  transition: opacity 0.5s;
}
#loading .centered {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
#loading .arc div {
  background: white;
  border-radius: 50%;
  width: 142px; height: 142px;
  transform: scale(0.5);
  opacity: 0;
  transition: all 0.5s;
}
.loaded #loading .arc div {
  transform: none;
  opacity: 1;
}
#loading .logo {
  transition: all 0.5s;
}
#loading .logo svg {
  width: 180px;
  height: 101px;
  transform: rotate(-135deg) scale(2);
  transition: transform 0.5s linear;
}

@media (max-width: 900px) {

  body {font-size: 10px;}

  #loading .logo svg {
    width: 81px; height: 45px;
    transform: rotate(-135deg) scale(4);
  }

  header.flexed {align-items: flex-end;}
  header .text {
    font-size: 1.5em;
    margin-bottom: 66%;
  }
  header .circles .circle.f {left: -50%;}
  header .text .description {
    font-size: 1.85em;
  }
  header .circles .circle.s {top: 62%;}
  header .hdr-bg {
    width: 95%; height: 95%;
    top: 33%;
  }

  #main .rounded-border div {
    min-width: 200%;
  }

  #main #aboutMe {
    flex-direction: column;
    width: calc(100% - 60px);
    padding: 30px 30px;
  }
  #main #aboutMe .circles {
    height: 156px; min-width: 156px; width: 156px;
  }
  #main #aboutMe #social .image {font-size: 1.5em;}
  #main #aboutMe .about-me .description {font-size: 1.5em;}
  #main #aboutMe .about-me, #main #aboutMe .social-links {
    width: 100%;
    font-size: 1.5em;
  }
  #main #aboutMe .social-links .title {
    height: auto;
    margin: 32px 0px;
  }
  #main #aboutMe .title span {
    font-size: 2.5em;
    margin: 20px;
  }
  #main #aboutMe .social-links .links {margin-top: 0px;}

  #main .IDE-container .text {
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    width: 70%;
  }

  #navbar {
    height: 54px;
    font-size: 1.5em;
    box-shadow: 0px 2px 36px -12px rgba(0,0,0,0.66)
  }
  #navbar .links .title {margin: 0;}
  #navbar .links a {
    font-size: 1.2em;
    padding: 0px 10px;
  }

  #main .svg-container {flex-direction: column;}
  #main .svg-container .android, #main .svg-container .web {
    width: 100%;
    padding: 60px 0px;
  }
  #main .svg-container img {opacity: 1;}
  #main .svg-container .android img {height: 210px;}
  #main .svg-container .web img {height: 180px;}
  #main .svg-container .android .title, #main .svg-container .web .title {font-size: 2.2em; opacity: 1;}
  #main .svg-container .example-button {font-size: 2em;}
  #main .svg-container .android .example-button {right: 5%;}
  #main .svg-container .web .example-button {left: 5%;}

  #main #contacts {
    margin: 60px 0 0 0;
    width: 100%;
  }
  #main #contacts .contacts {
    border-radius: 32px 32px 0px 0px;
    flex-direction: column;
    width: 100%;
  }
  #main #contacts .title {font-size: 3em;}
  #main #contacts form {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
  }
  #main #contacts .input-container {width: 85%;}
  #main #contacts .input-container input, #main #contacts .input-container textarea {
    font-size: 2em;
    width: calc(100% - 40px);
    padding: 18px 24px;
    box-shadow: 4px 4px 22px -14px black;
  }
  #main #contacts .input-container textarea {height: 300px;}
  #main #contacts .input-container .placeholder {
    font-size: 2em;
  }
  #main #contacts .input-container textarea + .customization .placeholder {
    transform: translateY(5%, 80%);
  }
  #main #contacts .input-container input:valid + .customization .placeholder {
    font-size: 2.2em;
    transform: translateY(-220%)
  }
  #main #contacts .input-container textarea:valid + .customization .placeholder {font-size: 2.2em;}
  #main #contacts .input-container .hint {
    top: auto;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    font-size: 2em;
    width: 75%;
    margin-bottom: 10px;
  }
  #main #contacts .input-container .hint span {
    top: 100%; left: 50%;
    transform: translate(-50%, -32%) rotate(-90deg);
  }
  #main #contacts .btn {
    font-size: 2em;
  }
  #main #contacts .description {
    margin: 10px 0 0 0;
    font-size: 2em;
    padding: 12px;
  }
  #main #contacts .description li {
    padding: 10px 20px;
    margin: 16px 0px;
  }
  #main #contacts .description .hint {
    padding: 4px 4px;
    margin-left: 3px;
  }
  #main #contacts .description li:hover .hint .text {display: none;}
  #main #contacts .description .hint .icon {
    width: 24px; height: 24px;
  }
  #main #contacts .description ul {
    max-width: 100%;
    padding: 0;
    overflow: hidden;
  }

  footer {
    font-size: 2em;
    padding: 100px 0px;
    visibility: hidden;
  }
  .loaded footer {visibility: visible;}
  footer span {padding: 0px 20px;}

  #overflowContainer .overflow {
    width: 95%;
    padding: 20px 0px;
    border-radius: 26px;
  }
  #overflowContainer .overflow .title {
    font-size: 3em;
    margin: 20px 0px;
  }
  #overflowContainer .overflow .example-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #overflowContainer .overflow .list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  #overflowContainer .overflow .list li {
    margin: 0px 4px;
    font-size: 2em;
  }
  #overflowContainer .overflow .list label {margin: 4px 0px;}
  #overflowContainer .overflow .webExample, #overflowContainer .overflow .androidExample, #overflowContainer .overflow .example-description {width: 100%;}
  #overflowContainer .overflow .example-description .project {max-width: none;}
  #overflowContainer .overflow .example-description p, #overflowContainer .overflow .example-description span, #overflowContainer .overflow .example-description a {
    font-size: 2em;
    padding: 0px 20px;
  }
  #overflowContainer .overflow .example-description p {font-weight: 900;}
  #overflowContainer .overflow .example-description a {
    padding: 10px 24px;
    box-shadow: 5px 5px 22px -14px black;
  }
  #overflowContainer #emptyExample {
    font-size: 3em;
    text-align: center;
    border-radius: 32px;
    border-width: 6px;
  }

}
