@font-face {
  font-family: Raleway;
  src: url("materials/fonts/Raleway-VariableFont_wght.ttf"),
       url("materials/fonts/Raleway-Italic-VariableFont_wght.ttf");
  font-variation-settings: 'wght' 300;
}
@font-face {
  font-family: Roboto;
  src: url(materials/fonts/Roboto-Light.ttf);
  font-weight: light;
}

@keyframes circle-header {
  0% {transform: scale(0); opacity: 1;}
  25% {transform: scale(0.25); opacity: 1;}
  100% {transform: scale(1); opacity: 0;}
}

@keyframes circle-avatar-f {
  0% {transform: translate(-50%, -50%) scale(1); opacity: 1;}
  25% {transform: translate(-50%, -50%) scale(1.1); opacity: 1;}
  100% {transform: translate(-50%, -50%) scale(1.2); opacity: 0;}
}

@keyframes circle-avatar-s {
  0% {transform: translate(-50%, -50%) scale(1); opacity: 1;}
  25% {transform: translate(-50%, -50%) scale(1.1); opacity: 1;}
  100% {transform: translate(-50%, -50%) scale(1.2); opacity: 0;}
}

html {
  scrollbar-width: thin;
  scrollbar-color: #ffae82 var(--col3);
  scroll-behavior: smooth;
  --col1: #ef2875; --col1-dark: #b40f4f;
  --col2: #ff8645; --col2-dark: #c35d26;
  --col3: #3c212d;
}

html::-webkit-scrollbar {
  background: var(--col3);
  width: 8px;
}
html::-webkit-scrollbar-thumb {
  background: #ffae82;
  border: 1px solid var(--col3)
}

a {
  text-decoration: none;
  color: var(--col1);
}
a:active {color: var(--col2);}

body {
  overflow: auto;
  font: 20px Raleway;
  color: rgb(18,18,18);
  margin: 0;
}

.flexed {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {outline: none;}

header {
  width: 100%;
  height: calc(100vh - 56px);
  background: linear-gradient(180deg, var(--col1), var(--col2));
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.circles .circle {
  position: absolute;
  border-radius: 50%;
  width: 400px; height: 400px;
  border: 24px solid rgba(255,255,255,0.25);
}
header .circles .circle {
  animation: circle-header 4s linear infinite;
  opacity: 0;
}

header .circles .circle.f {
  width: 600px; height: 600px;
  top: -300px;
  left: 0px;
}
header .circles .circle.s {
  top: 22%;
  right: -200px;
}
header .circles .circle.i {
  animation-delay: 2s;
}

header .text {
  flex-direction: column;
  font-size: 1.66em;
  z-index: 1;
}
header .text .title {
  font: 3.5em Raleway;
  cursor: pointer;
}
header .text .title img {
  width: 1.55em;
}
header .text .description {
  margin-top: 20px;
  font-family: Roboto;
  color: black;
  padding: 6px 24px;
  border-radius: 666px;
  background: white;
}

header .hdr-bg {
  position: absolute;
  top: 40%; left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; height: 80%;
  background: 50% 50% / contain no-repeat url("materials/images/Shape1.png");
  opacity: 0.25;
}

header #msg {
  position: absolute;
  top: 2px; right: 2px;
  opacity: 0.18;
  pointer-events: none;
}

#navbar {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 52px;
  justify-content: space-between;
  background: white;
  box-shadow: 0px 2px 12px -6px rgba(0,0,0,0.66);
  transform: translateY(-100%);
  transition: transform 0.33s;
  pointer-events: none;
  z-index: 99;
}
#navbar.visible {
  transform: none;
  pointer-events: all;
}
#navbar .links {
  height: 100%;
  margin: 0px 30px;
}
#navbar .links a {
  display: flex;
  align-items: center;
  padding: 0px 18px;
  height: 100%;
  position: relative;
  transisition: color 0.2s;
}
#navbar .links a:after {
  content: "";
  position: absolute;
  bottom: 0; left: 0;
  width: 100%; min-height: 0px;
  transition: min-height 0.2s, transform 0.2s;
  transform: scaleX(0);
  background: linear-gradient(90deg, var(--col1), var(--col2));
}
#navbar .links a:hover {
  color: var(--col1-dark);
}
#navbar .links a:hover:after {
  min-height: 3px;
  transform: scaleX(1);
}
#navbar .links .title {
  font-weight: 900;
  font-size: 1.2em;
  margin-right: 12px;
  cursor: pointer;
}
#navbar .links .title svg {
  width: 2.2em; height: 2.2em;
}

section#main {
  z-index: 0;
  width: 100%;
  position: relative;
  flex-direction: column;
  justify-content: start;
}

#main .rounded-border {
  content: "";
  position: absolute;
  top: -74px; left: 0;
  width: 100%; height: 300px;
  overflow: hidden;
}
#main .rounded-border div {
  background: white;
  min-width: 150%; height: 100%;
  border-radius: 50%;
}

#main #aboutMe {
  width: calc(100% - 120px);
  padding: 30px 60px;
  margin: 80px 0px;
  z-index: 1;
  align-items: start;
}
#main #aboutMe .about-me, #main #aboutMe .social-links {
  width: 50%;
  flex-direction: column;
}
#main #aboutMe .about-me {
  align-items: start;
}
#main #aboutMe .circles {
  position: relative;
  width: 210px; height: 210px;
  min-width: 210px;
  transition: transform 0.33s;
}
#main #aboutMe .image {
  position: relative;
  width: 100%; height: 100%;
  border-radius: 50%;
  z-index: 1;
}
#main #aboutMe #avatar .image {
  background: 50% 50% / 100% url(materials/images/avatar.jpg);
}
#main #aboutMe .circles .circle {
  border: none;
  background: linear-gradient(-45deg, var(--col1), var(--col2));
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
#main #aboutMe .circles .circle.f {
  width: 205px;
  height: 205px;
  animation: circle-avatar-f 3s linear infinite;
}
#main #aboutMe .circles .circle.s {
  width: 205px;
  height: 205px;
  animation: circle-avatar-s 3s linear infinite;
  animation-delay: 1.5s;
}
#main #aboutMe .title span {
  margin: 44px;
  color: var(--col1);
  font-size: 2.2em; font-weight: 900;
}
#main #aboutMe .about-me .description {
  margin-top: 50px;
  color: var(--col1-dark);
  font-size: 1.2em;
}

#main #aboutMe .social-links {
  justify-content: start;
}
#main #aboutMe .social-links .title {
  height: 210px;
}
#main #aboutMe #social .image {
  background: linear-gradient(-45deg, var(--col1), var(--col2));
}
#main #aboutMe .social-links .links {
  width: 100%;
  margin-top: 50px;
}
#main #aboutMe .social-links .links a {
  margin: 0px 20px;
  position: relative;
  height: 128px;
  color: var(--col2);
  transition: color 0.25s;
}
#main #aboutMe .social-links .links a:hover {
  color: var(--col1)
}
#main #aboutMe .social-links .links svg.outer {
  position: relative;
  height: 100%;
  z-index: 1;
}
#main #aboutMe .social-links .links svg.inner {
  position: absolute;
  width: 64px;
  height: 64px;
  z-index: 2;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

#main .IDE-container {
  width: 100%;
  height: 120vh;
  background: var(--col3);
  position: relative;
  overflow: hidden;
}
#main .IDE-container div {
  position: absolute;
}
#main .IDE-container #IDEBG {
  top: 0; right: 0;
  height: 100%; width: 100%;
  background: 100% 50% / 75% no-repeat url("materials/images/IDE.png");
}
#main .IDE-container .text {
  top: 50%;left: 30px;
  width: 35%;
  transform: translateY(-50%);
  color: white;
  font: 1.7em Roboto;
}

#main .svg-container {justify-content: space-around; width: 100%; align-items: start;}
#main .svg-container .android, #main .svg-container .web {
  width: 50%;
  padding: 80px 0px;
  position: relative;
}
#main .svg-container .title {
  font: 1.7em Roboto;
  opacity: 0.42;
  transition: 0.33s all;
  text-transform: uppercase;
  z-index: 1;
}
#main .svg-container img {opacity: 0.42; transition: 0.33s all;}
#main .svg-container .android {justify-content: flex-start; overflow: hidden;}
#main .svg-container .web {justify-content: flex-end; overflow: hidden;}
#main .svg-container .android img {height: 300px;}
#main .svg-container .android .title {margin-left: -40px;}
#main .svg-container .android:before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  opacity: 0;
  background: linear-gradient(90deg, var(--col1), transparent 50%);
  transition: opacity 0.33s;
}
#main .svg-container .web:before {
  content: "";
  position: absolute;
  top: 0; right: 0;
  width: 100%; height: 100%;
  opacity: 0;
  background: linear-gradient(-90deg, var(--col2), transparent 50%);
  transition: opacity 0.33s;
}
#main .svg-container .web img {height: 300px;}
#main .svg-container .web .title {margin-right: -40px;}
#main .svg-container .android:hover:before, #main .svg-container .web:hover:before {opacity: 0.33;}
#main .svg-container .android:hover img, #main .svg-container .web:hover img {transform: scale(1.1); opacity: 1;}
#main .svg-container .android:hover .title, #main .svg-container .web:hover .title {
  margin: 0;
  opacity: 1;
}
#main .svg-container .example-button {
  position: absolute;
  padding: 12px 28px;
  font-size: 1.2em;
  border-radius: 666px;
  top: 58%;
  opacity: 0;
  transform: scale(0.8);
  box-shadow: 3px 3px 12px -8px black;
  cursor: pointer;
  transition: all 0.33s ease;
}
#main .svg-container .android:hover .example-button, #main .svg-container .web:hover .example-button {
  transform: none;
  opacity: 1;
}
#main .svg-container .android .example-button {right: 30%; color: var(--col1-dark);}
#main .svg-container .web .example-button {left: 30%; color: var(--col2-dark);}

footer {
  position: relative;
  width: 100%;
  height: 340px;
  background: var(--col3);
  color: rgba(255,255,255,0.25);
  text-align: center;
  overflow: hidden;
}
footer .circles .circle {
  border: 12px solid rgba(255,255,255,0.05);
  transform: translate(-50%, -50%)
}
footer .circles .circle.f {
  top: 30%; left: 10%;
  width: 250px; height: 250px;
}
footer .circles .circle.f.ii {
  width: 110px; height: 110px;
  border-width: 6px;
}
footer .circles .circle.s {
  left: 85%;
  top: 100%;
}

.grad-text {
  background: linear-gradient(45deg, var(--col1) 25%, var(--col2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
